python-dotenv
Flask==3.0.3
Flask-Caching==2.3.0
Flask-Cors==4.0.1
Flask-SocketIO==5.3.6
matplotlib==3.9.0
numpy>=1.23.5
opencv-python==4.8.1.78
pandas==2.2.2
pillow==10.3.0
requests==2.32.2
seaborn==0.13.2
tensorflow==2.12.1
torch==2.3.0
torchvision==0.18.0
ultralytics==8.2.22
websocket-client